p{color: rgb(44, 32, 211);
width: 500px;
border: 1px solid black;}
html {
    font-size: 20px ;
    font-family: "Tiny5", sans-serif;
}
h1{
    font-size: 120px;
    text-align:center;
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
html {background-color: darkorchid;

}
body {
    width: 600px;
    margin: 0 auto;
    background-color: brown;
    padding: 0 20px 20px 20px;
    border:  5px solid black;
}
img {width: 600px;
display: block;
margin: 0 auto}
h1 {
    margin:0;
    padding: 200px 0;
    color: chartreuse;
    text-shadow: 9px 9px 2px black;
}